@use 'src/styles/utility' as *;

.app_dashboard {
  margin-top: rem(5);
}

.tabs_root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tabs_list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(2);
}

.tabs_trigger {
  padding: 0 rem(2);
  height: rem(4.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(1.5);
  line-height: 1;
  user-select: none;
  cursor: pointer;
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
  &:hover h3 {
    color: var(--ifm-color-emphasis-800);
  }
  h3 {
    color: var(--ifm-color-emphasis-500);
    font-weight: 400;
    transition: color .2s;
  }
}

.tabs_trigger[data-state='active'] {
  border-bottom: 2px solid var(--colors-coral500);
  h3 {
    color: var(--ifm-color-emphasis-800);
    font-weight: bold;
  }
}

.tab_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: rem(2);
}
