.FeaturesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 2rem 11.5rem;
    
    @media (max-width: 992px) {
        padding: 2rem 0 2rem 0;
    }

    .FeaturesDescription {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
        align-items: center;

        .ApiFeaturesImage {
            aspect-ratio: 4 / 2;
            background-image: url(/img/api-featutes.png);
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 60rem;
            margin-top: 1rem;
        }

        .FeatureText {
            width: 48.6rem;
            margin-left: 4rem;
            padding: 0 10px;
            box-sizing: border-box;
            @media (max-width: 992px) {
                margin-left: 0;
            }

            .FeatureList {
                margin-left: -2rem;
                font-weight: 500;

                .FeatureOptions {
                    align-items: center;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    gap: 0.4rem;
                    margin: 1.6rem 0;

                    .FeatureContent {
                        margin-bottom: 0;
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}
