@use 'src/css/utility' as *;
.FeaturesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: Rem(2) Rem(10);
    
    @media (max-width: 992px) {
        padding: Rem(2) 0;
    }

    .FeaturesDescription {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90%;
        align-items: center;

        .ApiFeaturesImage {
            aspect-ratio: 4 / 2.5;
            background-image: url(/img/api-featutes.png);
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: Rem(60);
            margin-top: Rem(5);
        }

        .FeatureText {
            width: Rem(48.6);
            padding: 0 Rem(1);
            box-sizing: border-box;
            @media (min-width: 425px) {
                margin-left: Rem(4);
            }

            .FeatureList {
                margin-left: Rem(-2);
                font-weight: 500;

                .FeatureOptions {
                    align-items: center;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    gap: Rem(0.4);
                    margin: Rem(1.6) 0;

                    .FeatureContent {
                        margin-bottom: 0;
                        margin-left: Rem(1);
                    }
                }
            }
        }
    }
}
