@use 'src/styles/utility' as *;

.playgroundConsole {
    margin-top: rem(0.2);
    max-height: 60vh;
    overflow-y: auto;
    width: 100%;
    .dtJsonView {
        display: flex;
        flex-direction: column;
        gap: rem(2);
    }
}
