@use 'src/styles/utility' as *;

.customSelectItem {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: rem(1.4);
    transition: background-color 0.2s;
    border-radius: 3px;
    padding: rem(1);
    height: rem(5.2);
    line-height: rem(2);
    
    &:hover {
        cursor: pointer;
        background-color: var(--ifm-color-emphasis-100);
    }
    img {
        width: rem(3.2);
        height: rem(3.2);
    }
    .accountInfoContainer {
        display: flex;
        flex-direction: column;
        margin-left: rem(1);
        line-height: rem(2);
        .accountId {
            color: var(--ifm-color-emphasis-600);
        }
    }
}
