@use 'src/styles/utility' as *;

.dropdownSearch {
    padding: rem(0.4);
    margin: rem(1);
    width: 97%;
    box-sizing: border-box;
    border: 1px solid var(--ifm-color-gray-300);
}

.dropdownList {
    max-height: rem(70);
    overflow: auto;
    .dropdownSelect {
        padding: 0;
        margin: rem(0.5);
        color: var(--ifm-color-gray-300);
        font-size: rem(1.6);
    }
    .dropdownStart {
        padding: 0;
        margin: rem(0.5);
        font-weight: bold;
        color: var(--ifm-color-black);
        font-size: rem(1.6);
    }
    .dropdownSelected {
        background: var(--ifm-color-gray-400);
    }
    .dropdownItem {
        list-style: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        user-select: none;
        color: var(--ifm-color-black);
        padding: rem(1);
        font-size: rem(1.6);
        transition: all 0.2s;
        &:hover {
          background: var(--ifm-color-primary);
          color: var(--ifm-color-white);
        }
    }
}