:root {
  --ifm-menu-link-sublist-icon-2: url(/img/arrow_sidebar.svg);
}

.tocCollapsibleButton {
  font-size: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
  width: 100%;
  box-sizing: border-box;
}

.tocCollapsibleButton::after {
  content: '';
  background: var(--ifm-menu-link-sublist-icon-2);
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 12px;
  width: 8.72px;
  transform: rotate(90deg);
  transition: transform var(--ifm-transition-fast);
}

.tocCollapsibleButtonExpanded::after {
  transform: rotate(270deg);
}
