@use 'src/styles/utility' as *;

.manageApps {
    width: 100%;
    display: inline-block;
    overflow: auto;
    max-height: calc(100vh - rem(30));

    table {
        border-spacing: 0;
        display: table;
        width: 100%;
    }

    thead {
        background-color: var(--ifm-color-emphasis-200);
        border: 3px solid var(--ifm-color-emphasis-200);
        height: rem(5);
    }

    th,
    td {
        text-align: left;
        padding: rem(1.6);
        min-width: rem(14.4);
        overflow: hidden;
        text-overflow: ellipsis;
        border: none;
    }

    td:nth-child(3) {
        display: flex;
        flex-wrap: wrap;
        gap: rem(0.64);
    }

    td:last-child,
    th:last-child {
        white-space: nowrap;
        padding: 0 rem(1);
    }

    td:first-child,
    th:first-child {
        padding-left: rem(3.2);
    }

    tbody tr {
        border: none;
        &:nth-child(even) {
            background-color: var(--ifm-color-emphasis-100);
        }
    }
}

@mixin actionIcon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: rem(1.6);
    height: rem(1.6);
    cursor: pointer;
    padding: 0 rem(0.8);
}

.deleteApp {
    background-image: url(/img/delete.svg);
    @include actionIcon;
}

.updateApp {
    background-image: url(/img/edit.svg);
    @include actionIcon;
}

.appActions {
    display: flex;
    justify-content: space-around;
    margin: rem(3);
}

.tooltip {
    position: relative;

    .tooltipText {
        visibility: hidden;
        height: rem(1.5);
        background-color: var(--ifm-color-emphasis-200);
        color: var(--ifm-color-emphasis-1000);
        text-align: center;
        border-radius: 4px;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: opacity 1s;
        font-size: 10px;
        transform: translateX(50%);
        right: 50%;
        bottom: rem(2.4);

        &::after {
            content: '';
            position: absolute;
            bottom: rem(-1.16);
            right: 50%;
            transform: translateX(50%);
            margin-left: rem(-0.5);
            border-width: 5px;
            border-style: solid;
            border-color: var(--ifm-color-emphasis-600) transparent transparent transparent;
        }
    }

    &:hover {
        transform: translateY(-0.2rem);

        .tooltipText {
            visibility: visible;
            opacity: 1;
        }
    }
}

.scope {
    border: 1.6px solid var(--ifm-color-emphasis-400);
    border-radius: 4px;
    padding: rem(0.24) rem(0.24);
    font-size: rem(1.1);
}

.adminScope {
    border: 1.6px solid var(--ifm-color-primary);
    color: var(--ifm-color-primary);
}