@use 'src/styles/utility' as *;

.schemaContainer {
  position: relative;
}

.playgroundContent {
  height: fit-content;
  width: 100%;
  margin-top: rem(4);
  overflow-x: hidden;

  .heading {
    text-align: center;
  }

  .pageWrapper {
    display: flex;
    color: var(--ifm-color-emphasis-1000);

    .playground {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      height: fit-content;
      margin-top: rem(4);
      width: 100%;
      .playgroundPageWrapper {
        display: flex;
        justify-content: center;
        width: 95%;
        gap: rem(2);
        @media screen and (max-width: 1024px) {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

.playgroundApiJson {
  display: flex;
  flex-direction: column;
  width: 50%;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.playgroundApiDocs {
  display: flex;
  flex-direction: column;
  gap: rem(2);
  margin-bottom: rem(1);
  width: 50%;
  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}
