@use 'src/styles/utility' as *;

.playgroundContent {
  height: fit-content;
  width: 100%;
  margin-top: 4rem;
  overflow-x: hidden;

  .pageWrapper {
    display: flex;
    color: var(--ifm-color-emphasis-1000);

    .playground {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      height: fit-content;
      width: 100%;
      margin-top: 4rem;
      .playgroundPageWrapper {
        display: flex;
        justify-content: center;
        width: 95%;
        gap: 2rem;
        @media screen and (max-width: 1024px) {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
.playgroundApiJson {
  display: flex;
  flex-direction: column;
  margin-right: 2.4rem;
  width: 50%;
}

.playgroundApiDocs {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}
