@use 'src/styles/utility' as *;

.registerAppForm {
  width: 100%;
  overflow: hidden;

  .appRegistrationLoggedIn {
    display: flex;
    flex-direction: column;
    align-items: center;

    .registerApp {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .appRegistrationHeader {
      padding: 0 rem(2);
    }
  }  
}

.app-registration-login {
  display: none;
}

/* add delete.svg icon to app-remove-btn */
.app-btn {
  background-image: url("/img/delete.svg");
  background-repeat: no-repeat;
  background-position: var(--text-align-center);
  background-size: 1.6rem;
  background-origin: content-box;
  background-clip: content-box;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font-size: var(--text-size-xs);
  font-weight: var(--text-weight-bold);
  width: 3.2rem;
}

.app-btn span {
  visibility: hidden;
}

.bold {
  font-weight: var(--text-weight-bold);
}

.delete-icon {
  background-image: url("/img/delete.svg");
}

.update-icon {
  background-image: url("/img/edit.svg");
}

/* make app-remove-btn disabled when data-state logged_in.manage_tab.loading */
[data-state~="registration.logged_in.manage_tab.loading"] .app-remove-btn {
  pointer-events: none;
  cursor: not-allowed;
}

[data-state~="registration.logged_out"] .app-registration-login {
  display: flex;
  flex-direction: column;
  align-items: var(--text-align-center);
  justify-content: var(--text-align-center);
  height: calc(100vh - 10.5rem);
}

.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  border: none;
  max-width: 100vw;
  max-height: 100vh;
}

.dialog {
  position: absolute;
  top: 50%;
  left: calc(50% - 1.6rem);
  transform: translate(-50%, -50%);
  width: 32rem;
  height: auto;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  justify-content: space-between;
}

.dialog-delete {
  width: 32rem;
}

.dialog-update {
  width: 32rem;
  height: 70rem;
}

.dialog-update-input {
  padding: 2rem;
}

.dialog-update-scopes {
  padding: 2rem;
}

.dialog-header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: var(--text-align-center);
}

.dialog-header img {
  padding: 2.6rem 1.8rem;
  cursor: pointer;
}

.dialog-body {
  width: 100%;
  display: flex;
  justify-content: var(--text-align-center);
  align-items: var(--text-align-center);
  flex-direction: column;
}

.dialog-body-delete {
  align-items: var(--text-align-center);
}

.dialog-body .dialog-body-delete img {
  margin-bottom: 2.4rem;
}

.dialog-body .dialog-body-delete h3 {
  margin-bottom: 0.8rem;
}

.dialog-footer {
  width: 100%;
  display: flex;
  justify-content: var(--text-align-center);
  align-items: var(--text-align-center);
  margin-top: 2.4rem;
  margin-bottom: 3.7rem;
}

/* red "No, keep it" button with white text */
.dialog-btn-submit {
  background-color: var(--red-01);
  color: var(--white);
  font-weight: var(--text-weight-bold);
  height: 4rem;
  border: none;
  border-radius: 4px;
  padding: 1rem 1.6rem 1rem 1.6rem;
}

.dialog-btn-submit:hover {
  background-color: var(--red-01);
}

/* white "Yes, delete" button with black text */
.dialog-btn-cancel {
  background-color: var(--white);
  color: black;
  font-weight: var(--text-weight-bold);
  border: 0.1rem solid var(--gray-05);
  height: 4rem;
  border-radius: 4px;
  padding: 1rem 1.6rem 1rem 1.6rem;
  margin-right: 2.4rem;
}

/* add hover color to "Yes, delete" */
.dialog-btn-cancel:hover {
  background-color: var(--gray-02);
}

.dialog-success {
  width: 10rem;
  height: 10rem;
}

.dialog-question {
  text-align: var(--text-align-center);
}

[data-state~="registration.logged_in"] .app-registration-logged-in {
  display: flex;
  flex-direction: column;
  align-items: var(--text-align-center);
  justify-content: var(--text-align-center);
  width: 100%;
  margin: 12.5rem 0 4rem 0;
}

fieldset {
  width: 80%;
  margin: 0 auto;
  border: none;

  .first {
    margin-top: 2rem;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
}

.login-image {
  margin-top: 9.5rem;
  margin-bottom: 1.6rem;
  background-image: url(/img/login.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: var(--text-align-center);
  width: 12.8rem;
  height: 12.8rem;
}

.login-title {
  font-size: 1.6rem;
  margin-bottom: 4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  text-align: var(--text-align-center);
}

.main-register-btn {
  padding: 1rem 1.6rem;
  border-radius: 4px;
  background-color: var(--red-01);
  text-decoration: none;
  font-weight: 700;
  color: var(--white);
}

.no-apps {
  display: flex;
  flex-direction: column;
  justify-content: var(--text-align-center);
  align-items: var(--text-align-center);
  width: calc(32rem - 3.2rem);
  position: relative;
  margin: 0 auto;
}

.no-apps-wrapper {
  display: none;
}

[data-state~="registration.logged_in.manage_tab.loadingApps.empty"] .no-apps-wrapper {
  display: inline-block;
  visibility: visible;
}

.no-apps-wrapper {
  width: calc(100% - 3.2rem);
  position: absolute;
  height: auto;
}

[data-state~="registration.logged_in.register_tab"] .register-app {
  display: flex;
  flex-direction: column;
  align-items: var(--text-align-center);
  justify-content: var(--text-align-center);
}

.registered-apps-tabs {
  display: flex;
  padding: 4rem 0;
}

.registered-apps-tabs button {
  border: none;
  background-color: transparent;
  color: var(--gray-05);
  border-bottom: 1px solid var(--gray-05);
  padding: 1rem 2rem;
}

[data-state~="registration.logged_in.manage_tab"] .manage-button,
[data-state~="registration.logged_in.register_tab"] .register-button {
  font-weight: bold;
  color: var(--text-01);
  border-bottom: 3px solid var(--red-01);
}

[data-state~="registration.logged_in.update_mode"] .register-button {
  pointer-events: none;
  visibility: hidden;
  position: relative;
}

[data-state~="registration.logged_in.update_mode"] .register-button::before {
  visibility: visible;
  content: "Update your application";
  font-weight: var(--text-weight-bold);
  color: var(--text-01);
  border-bottom: 3px solid var(--red-01);
  position: absolute;
  padding: 1rem 0;
  width: 100%;
  right: 0;
  top: 0;
  bottom: -0.1rem;
}

[data-state~="registration.logged_in.update_mode"] .register-app {
  display: flex;
  flex-direction: column;
  align-items: var(--text-align-center);
  justify-content: var(--text-align-center);
}

[data-state~="registration.logged_in.update_mode"] .expandable-form {
  display: flex;
  flex-direction: column;
}

.register-app fieldset input[type="text"] {
  padding: 0;
  width: 100%;
  text-indent: 1.2rem;
  margin-bottom: 0 !important;
}

/* make registration-dialog display none */
.registration-dialog {
  display: none;
}

/*  display register-app when [data-state] success */
[data-state~="registration.logged_in.register_tab.unfolded_form.submitting_registration.registration_success"] .registration-dialog {
  display: flex;
}

.register-login-button {
  cursor: pointer;
}

.tooltip {
  display: none;
}

.tooltip:after {
  background: transparent;
  height: 1.5rem;
  content: " ";
  position: absolute;
  left: 0;
  width: inherit;
  bottom: -1.5rem;
  padding: 0 0.8rem;
}

.app-registration-signout {
  display: none;
}

[data-state*="responsive.mobile"] {
  &[data-state~="registration.logged_in"] .app-registration-logged-in {
    margin-top: 8rem;
  }
}

[data-state~="responsive.mobileL"],
[data-state~="responsive.mobileTablet"],
[data-state*="responsive.desktop"] {
  .dialog {
    width: 38.5rem;
  }

  .dialog-delete,
  .dialog-update {
    width: 32rem;
  }
}

[data-state~="responsive.mobileTablet"],
[data-state*="responsive.desktop"] {
  .app-registration-login {
    height: 100vh;
  }

  .dialog-delete {
    width: 43.3rem;
  }

  .dialog-update {
    width: 43.3rem;
    height: 64rem;
  }

  .dialog-warning {
    margin-bottom: 2.4rem;
  }

  .login-title {
    font-size: var(--text-size-sm);
    margin-bottom: 2.4rem;
  }

  .no-apps-wrapper {
    width: calc(100% - 12.5rem);
    position: relative;
  }

  .no-apps {
    padding-top: 7.2rem;
    margin: 0 auto;
    position: relative;
  }

  .no-apps-text {
    width: 39rem;
  }

  .expandable-form .register-app-button {
    padding: 1.2rem 2rem;
  }
}