@use 'src/styles/utility' as *;

.BenefitsContainer {
  width: 100%;

  .Heading {
    margin-bottom: rem(4);
    padding: 0 rem(2);
  }

  .BenefitsIcons {
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: rem(6.4);
    gap: rem(3);
    display: flex;
    justify-content: space-evenly;
    padding: 0 rem(1);

    @media screen and (max-width: 992px) {
      margin-top: rem(3);
    }

    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
  }

  .BenefitsInformation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    gap: rem(4);
    margin: 0 auto;

    h3 {
      margin: rem(1.6) 0;
    }

    img {
      margin-bottom: rem(4);
    }

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
      width: 90%;

      div {
        width: 100%;
      }

      h3 {
        margin: rem(1.6) 0;
      }

      img {
        height: auto;
      }
    }
    .InformationContainer {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: rem(6);
      @media screen and (max-width: 992px) {
        > img {
          width: 100%;
        }
      }
      &:first-child {
        flex-direction: row-reverse;
      }
      .InformationContent {
        width: rem(46.8);
        > h1 {
          margin-bottom: rem(0.8);
        }
        > p {
          line-height: rem(3.6);
          font-size: rem(2.4);
        }
      }
      @media screen and (max-width: 992px) {
        flex-direction: column;
        &:first-child {
          flex-direction: column-reverse;
        }
        .InformationContent {
          width: 100%;

          > h1 {
            margin-bottom: rem(0.8);
            font-size: rem(2.4);
          }
          > p {
            line-height: rem(3.6);
            font-size: rem(1.8);
          }
        }
      }
    }
  }
}

.SingleIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 992px) {
    > figcaption {
      font-size: var(--fontSizes-sm);
    }
  }

  .BenefitsImage {
    background-size: contain;
    display: inline-block;
    width: rem(4);
    height: rem(4.2);
    margin: rem(0.8);
  }
}

.InformationImage {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: rem(48.6);
  height: rem(26);
  @media screen and (max-width: 992px) {
    max-width: rem(48.6);
    height: rem(22);
  }
  @media screen and (min-width: 320px) and (max-width: 375px) {
    height: rem(15);
  }
}
