@use 'src/styles/utility' as *;

.schemaRole {
  background-color: rgba(255, 255, 255, 0.16);
  border: none;
  font-size: rem(1.4);
  font-weight: 400;
  line-height: rem(2.4);
  color: var(--ifm-color-white);
  height: fit-content;
  padding: rem(0.5) rem(0.5);
  margin: 0 rem(0.5);
}

.schemaCode {
  color: var(--ifm-color-white);
  font-size: rem(1.4);
}

.schemaLink {
  cursor: pointer;
  text-decoration: underline;
}
