@use 'src/styles/utility' as *;

.tokenDropdownContainer {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1200px) {
    position: absolute;
    width: 100%;
    top: calc(var(--nav-height) - rem(0.1));
    left: 0;
    right: 0;
    height: rem(3.4);
    border-bottom: 1px solid var(--ifm-color-emphasis-200);
    background-color: var(--ifm-color-emphasis-0);
  }

  .tokenContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--ifm-color-emphasis-200);
    .createToken {
      padding: rem(1) 0;
      color: var(--ifm-color-emphasis-900);
      font-size: rem(1.4);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      gap: rem(1);
      &::before {
        content: '';
        display: inline-block;
        background-image: url('/img/plus_bold.svg');
        background-size: rem(1.2);
        width: rem(1.2);
        height: rem(1.2);
        transform: rotate(0deg);
        transition: transform .2s;
      }
      &:hover {
        text-decoration: none;
        &::before {
          transform: rotate(90deg);
        }
      }
    }
  }
  > .tokenContainer {
    border-top: none;
  }
  .tokenDropdownButton {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    font-size: rem(1.4);
    align-items: center;
    justify-content: center;
    gap: rem(1);
    height: 100%;
    margin-right: rem(4);

    @media (max-width: 1200px) {
      margin: 0 auto;
    }

    &::after {
      content: '';
      display: inline-block;
      background-image: url('/img/arrow_down_bold.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: rem(1.5);
      width: rem(1.5);
      height: rem(1.5);
      transform: rotate(0deg);
      transition: transform .2s ease-in-out;
    }
    &.active::after {
      transform: rotate(-180deg);
    }
    &.oneToken::after {
      display: none;
    }
    @media (max-width: 768px) {
      font-size: rem(1.2);
    }
  }
  .tokenDropdownWrapper {
    position: absolute;
    background-color: var(--ifm-color-emphasis-0);
    width: rem(27);
    right: rem(4);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05), 0px 16px 20px rgba(0, 0, 0, 0.05);
    top: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    > .tokenContainer .createToken {
      font-weight: normal;
      &::before {
        background-image: url('/img/plus.svg');
      }
    }
    .tokenDropdown {
      padding: rem(0.8);
      display: flex;
      flex-direction: column;
      gap: rem(0.8);
    }
    @media (max-width: 1200px) {
      position: fixed;
      width: 100%;
      top: calc(var(--nav-height) + rem(3.3));
      left: 0;
      right: 0;
    }
  }
}
