@use 'src/styles/utility' as *;
.appRegistrationLogin {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    .loginImage {
        margin-top: rem(9.5);
        margin-bottom: rem(1.6);
        background-image: url(/img/login.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: rem(12.8);
        height: rem(12.8);
    }
    .registerLoginButton {
        text-decoration: none;
    }
}