@use 'src/styles/utility' as *;

.manageApps {
  width: 100%;
  display: inline-block;
  overflow: auto;
  max-height: calc(100vh - rem(35));
}

@mixin actionIcon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(1.6);
  height: rem(1.6);
  cursor: pointer;
  padding: 0 rem(0.8);
}

.deleteApp {
  background-image: url(/img/delete.svg);
  @include actionIcon;
}

.updateApp {
  background-image: url(/img/edit.svg);
  @include actionIcon;
}

.appActions {
  display: flex;
  justify-content: space-around;
  margin: rem(3);
}

.tooltip {
  position: relative;

  .tooltipText {
    visibility: hidden;
    height: rem(1.5);
    background-color: var(--ifm-color-emphasis-200);
    color: var(--ifm-color-emphasis-1000);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    font-size: 10px;
    transform: translateX(50%);
    right: 50%;
    bottom: rem(2.4);

    &::after {
      content: '';
      position: absolute;
      bottom: rem(-1.16);
      right: 50%;
      transform: translateX(50%);
      margin-left: rem(-0.5);
      border-width: 5px;
      border-style: solid;
      border-color: var(--ifm-color-emphasis-600) transparent transparent transparent;
    }
  }

  &:hover {
    transform: translateY(-0.2rem);

    .tooltipText {
      visibility: visible;
      opacity: 1;
    }
  }
}
