@use 'src/styles/utility' as *;
.FeaturesContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: rem(2);

  > img {
    padding: 0 rem(2);
  }

  .ApiFeaturesImage {
    display: inline-block;
    width: rem(70);
  }

  .FeatureText {
    width: rem(48.6);
    padding: 0 rem(1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      flex-direction: column;
      gap: rem(2);
      @media screen and (max-width: 992px) {
        > h2 {
          text-align: center;
        }
      }
    }

    @media (min-width: 425px) {
      margin-left: rem(4);
    }
    .FeatureParagraph {
      font-weight: 400;
      line-height: rem(3);
    }
    .FeatureList {
      margin-left: rem(-2);
      font-weight: 400;
      padding-left: rem(2);
      @media screen and (max-width: 992px) {
        font-size: rem(1.4);
      }
      
      .FeatureOptions {
        align-items: center;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: rem(0.4);
        margin: rem(1.6) 0;

        .FeatureContent {
          margin-bottom: 0;
          margin-left: rem(1);
        }
      }
    }
  }
}
