@use 'src/styles/utility' as *;

.spinner {
  position: relative;
  width: rem(10);
  height: rem(10);
  border-radius: 100%;
  background-image: linear-gradient(
    to right,
    var(--colors-coral600),
    var(--ifm-color-emphasis-100),
    var(--ifm-color-emphasis-100)
  );
  animation: rotating 0.5s linear infinite;
  &:before {
    content: "";
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    position: absolute;
    background-color: var(--colors-greyLight100);
    border-radius: 100%;
    transform: translate(-50%, -50%);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
