@use 'src/styles/utility' as *;

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loginImage {
    margin: rem(9.5) 0 rem(1) rem(1.6);
    background-image: url(/img/login.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: rem(12.8);
    height: rem(12.8);
  }
}
