@use 'src/styles/utility' as *;

.api_table_container {
  position: relative;
  overflow: auto;
  .api_table {
    height: rem(30);
    min-height: 10rem;
    table {
      position: absolute;
    }
  }
}
