@use 'src/styles/utility' as *;

.hidden_container {
    display: flex;
    gap: rem(0.45);
    .hidden_character {
        width: rem(0.5);
        height: rem(0.5);
        border-radius: 100%;
        background-color: var(--ifm-color-emphasis-900);
    }
}

.token_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(1);
    button {
        position: relative;
        width: rem(1.5);
        height: rem(1.5);
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--colors-greyLight200);
        border: 1px solid var(--colors-greyLight400);
        border-radius: 100%;
        padding: rem(0.3);
        &.copy_button {
            cursor: copy;
            background-image: url(/img/copy.svg);
        }
        &:hover {
            &::after {
                content: '';
                text-align: center;
                position: absolute;
                display: inline-block;
                border-radius: 4px;
                padding: rem(1);
                color: var(--ifm-color-emphasis-100);
                background-color: var(--ifm-color-emphasis-700);
                font-size: var(--fontSizes-3xs);
                top: calc(-50% - 20px);
                left: 50%;
                min-width: 100px;
                transform: translate(-50%, -50%);
            }
            &::before {
                content: '';
                position: absolute;
                width: 0; 
                height: 0; 
                border-left: rem(0.7) solid transparent;
                border-right: rem(0.7) solid transparent;
                border-top: rem(0.7) solid var(--ifm-color-emphasis-700);
                top: calc(-50% + 2px);
                transform: translate(-50%, -50%);
                left: 50%;
            }
        }
        &.eye_button {
            cursor: pointer;
            &:hover::after {
                content: 'Hide this token';
            }
        }
        &.copy_button {
            &:hover::after {
                content: 'Copy this token';
            }
            &.is_copying {
                background-image: url(/img/check.svg);
                background-color: var(--ifm-color-primary-lightest);
                border: 1px solid var(--ifm-color-primary);
                &:hover::after {
                    content: 'Token copied!';
                }
            }
        }
    }
}
