@use 'src/styles/utility' as *;

.wrapper {
  width: rem(44);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: rem(0.8) rem(2.4) 0;
  font-size: rem(1.4);
  line-height: rem(2);
  @media (max-width: 992px) {
    padding: 0 0 0 rem(1.6);
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  padding: rem(2.4);
  gap: rem(0.8);

  .btn {
    padding: rem(1) rem(1.6);
    border-radius: rem(1.5);
  }
}
