@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;500;700&display=swap");

* {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    scroll-margin-top: 10rem;
}

:host,
:root {
    /* Line Height */
    --text-lh-xxs: 1;
    --text-lh-xs: 1.25;
    --text-lh-s: 1.4;
    --text-lh-m: 1.5;
    --text-lh-l: 1.75;
    --text-lh-xl: 2;
    --text-lh-xxl: 2.4;

    /* Font Weight */
    --text-weight-lighter: lighter;
    --text-weight-normal: normal;
    --text-weight-bold: bold;
    --text-weight-bolder: bolder;

    /* Text Align */
    --text-align-left: start;
    --text-align-right: right;
    --text-align-center: center;

    /* Spinner */
    --spinner-height: 10rem;
    --spinner-width: 10rem;
}

/* html * {
    font-size: var(--text-size-s);
}

th, td {
    font-size: var(--text-size-xs);
} */
