@use 'src/styles/utility' as *;

.customCheckboxContainer {
    position: relative;
    height: rem(1.6);
    min-width: rem(1.6);
    padding-top: rem(0.8);
    z-index: 0;
    margin-bottom: auto;
    .customCheckbox {
        position: absolute;
        background-repeat: no-repeat;
        display: inline-block;
        border: 2px solid var(--ifm-color-emphasis-500);
        min-width: rem(1.6);
        height: rem(1.6);
        border-radius: 2px;
        transition: background-color 0.25s, border-color 0.25s;
        top: rem(0.5);
        z-index: 1;
    }
    input {
        visibility: hidden;
        position: absolute;
        &:checked + .customCheckbox {
            background-image: url(/img/check.svg);
            background-position: center;
            background-color: var(--colors-coral600);
            border-color: var(--colors-coral600);
        }
    }
}