@use 'src/styles/utility' as *;
.HeroImageStyle {
  background-color: var(--ifm-color-secondary-contrast-foreground);
  background-image: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.16)), url(/img/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: rem(60);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: rem(4);

  @media screen and (max-width: 992px) {
    margin-top: rem(4.7);
    padding-top: unset;
  }

  @media screen and (min-width: 320px) and (max-width: 375px) {
    height: rem(37.8);
  }
  .HeroContainerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(16) 0;
    width: 100%;

    @media screen and (max-width: 992px) {
      width: 100%;
      padding: rem(8) rem(4);
      align-items: baseline;
    }
    .HeroButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: rem(1.6);
      padding: rem(1) rem(1.6);
      width: rem(13.6);
      height: rem(2.6);
      background: #ff444f;
      border-radius: rem(1.5);
      font-size: rem(1.6);
    }
  }
}
