@use 'src/styles/utility' as *;

.tokenrestrictions {
  display:flex;
  flex-direction: column;
  gap: rem(0.8);
  font-size: rem(1.2);
  font-weight: 400;
  line-height: 18px;
  padding-left: rem(2.8);
  margin-top: rem(1);
  color: var(--colors-greyLight600);
}
