.ClientLibrary {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
    width: 100%;
    background-size: auto;

    .IconJS {
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
    }

    .LibraryLogo {
        display: flex;
        justify-content: space-between;
      
        @media (max-width: 992px) {
          justify-content: center;
          flex-wrap: wrap;
        }

        .LogoAndLink {
            padding: 1rem 2rem;
            
            .LibraryGoTo {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: var(--ifm-color-danger);
                gap: 10px;

                .LibraryChevron {
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 1.2rem;
                    height: 1.2rem;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}