@use 'src/styles/utility' as *;

.Navtop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: rem(3.2);
  padding: rem(0.4) 0;
  justify-content: center;

  .NavtopContainer {
    width: 90%;
  }
  .Subnav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: rem(3.2);
  }
  .SubnavItems {
    font-size: rem(1.4);
    font-weight: 400;
    line-height: rem(2);
    color: var(--colors-greyLight700);
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .Navtop {
    display: none;
  }
}
