@use 'src/styles/utility' as *;

.ClientLibrary {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(8) 0;
  width: 100%;
  background-size: auto;

  .Heading {
    margin-bottom: rem(2.5);
  }
  .SubHeading {
    font-weight: 400;
    @media (max-width: 992px) {
      text-align: center;
    }
  }
  .IconJS {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
  }

  .LibraryLogo {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
      justify-content: center;
      flex-wrap: wrap;
    }

    .LogoAndLink {
      padding: rem(1) rem(2);

      .LibraryGoTo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: var(--ifm-color-danger);
        gap: rem(1);

        label {
          cursor: pointer;
        }

        .LibraryChevron {
          background-repeat: no-repeat;
          background-position: center;
          width: rem(1.2);
          height: rem(1.2);
          margin-left: rem(0.5);
        }
      }
    }
  }
}
