@use 'src/styles/utility' as *;

.accountSwitcher {
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;

  @media (max-width: 768px) {
    font-size: rem(1.2);
    position: unset;
  }

  button.demo {
    color: var(--demo-account);
  }

  &.active > button {
    &::after {
      transform: rotate(-180deg);
    }
  }

  .logoutButtonContainer {
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid var(--ifm-color-emphasis-200);
    padding: rem(1) rem(2.5);

    button.logoutButton {
      display: flex;
      gap: rem(1);
      justify-content: center;
      align-items: center;
      width: fit-content;
      font-size: rem(1.4);
      cursor: pointer;
      &::after {
        content: '';
        display: inline-block;
        background-image: url('/img/logout.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: rem(1.5);
        width: rem(1.5);
        height: rem(1.5);
      }
    }
  }

  > button {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    color: var(--text-profit-success);
    padding: 0 rem(0.8);
    gap: rem(0.8);
    height: 100%;
    align-items: center;
    &:hover {
      background-color: var(--ifm-color-emphasis-100);
      transition: background-color 0.2s;
    }

    &::after {
      content: '';
      background-image: url('/img/arrow_down_bold.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: rem(1.5);
      width: rem(1.5);
      height: rem(1.5);
      transform: rotate(0deg);
      transition: transform .2s ease-in-out;
    }
  }

  .currencyIconContainer {
    width: rem(2.4);
    height: rem(2.4);
  }

  .accountDropdownContainer {
    display: flex;
    position: absolute;
    background-color: var(--colors-greyLight100);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05), 0px 16px 20px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    gap: rem(0.8);
    width: rem(32);
    right: 0;
    top: 100%;
    flex-direction: column;
    > div:not(:last-child) {
      margin: 0 rem(0.8);
    }
    > div:nth-child(2) {
      background-color: var(--ifm-color-emphasis-200);
      align-items: center;
      font-size: rem(1.4);
      transition: background-color 0.2s;
      border-radius: 3px;
      padding: rem(1);
      > div {
        line-height: rem(2);
        span {
          font-size: rem(1.4);
          &:nth-child(1) {
            font-weight: bold;
          }
          &:nth-child(2) {
            color: var(--ifm-color-emphasis-600);
          }
        }
      }
      img {
        width: rem(3.2);
        height: rem(3.2);
      }
    }

    @media (max-width: 768px) {
      // no other way of overwriting the code from the original component
      // important will only be used here in the scope of this component (navbar)
      right: 0 !important;
      left: 0 !important;
      width: 100% !important;
      transform: unset !important;
    }

    .dropdownHeader {
      display: flex;
      padding: rem(0.5) rem(1.5);
      justify-content: space-between;
      align-items: center;
      .closeDropdown {
        width: rem(2);
        height: rem(2);
        border-radius: 100%;
        padding: rem(0.5);
        background-image: url('/img/arrow_up.svg');
        background-size: rem(2);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        &:hover {
          background-color: var(--ifm-color-emphasis-100);
          transition: background-color 0.2s;
        }
      }
    }
  }
}
