@use 'src/styles/utility' as *;

.scope {
  display: inline-block;
  border: 1.6px solid var(--ifm-color-emphasis-400);
  border-radius: 100vw; // pill shaped
  padding: rem(0.25) rem(1);
  font-size: rem(1.2);
  margin: rem(0.5);
  color: var(--ifm-color-emphasis-700);
}

.adminScope {
  border: 1.6px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
}
