@use 'src/styles/utility' as *;

.scope {
  display: inline-block;
  border: rem(0.1) solid var(--ifm-color-emphasis-400);
  border-radius: 4px;
  padding: rem(0.2) rem(0.8);
  font-size: rem(1.2);
  margin: rem(0.5);
  color: var(--ifm-color-emphasis-700);
}

.adminScope {
  border: rem(0.1) solid var(--admin-border);
  color: var(--admin-text);
}
