@use 'src/styles/utility' as *;

.api_token_card {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: rem(1);
  border: 1px solid var(--ifm-color-emphasis-400);
  border-radius: rem(2);
  padding: rem(1.6);

  label {
    pointer-events: none;
  }

  p {
    font-size: var(--fontSizes-2xs);
  }

  .description {
    padding-right: rem(1);
  }

  .warning_container {
    display: flex;
    gap: rem(1);
    background-color: #ffad3a29;
    padding: rem(0.8);
    font-size: var(--fontSizes-2xs);
    img {
      width: rem(2);
      height: rem(2);
    }
  }

  &_input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(1);
  }
}
