* {
    margin: 0;
    padding: 0;
    scroll-margin-top: 10rem;
}

/* Setting base rem size. 1rem = 10px */
html {
    font-size: 10px;
}

/* Setting base font size in rem */
html * {
    font-size: 1.6rem;
}

.main-page-row:nth-child(even) {
    background-color: var(--ifm-color-emphasis-100);
}
