@use 'src/styles/utility' as *;

.FooterContainer {
  background-color: #414652;
  display: flex;
  flex-direction: row;
  padding: rem(2);
  justify-content: space-evenly;
  margin-top: rem(2.5);

  @media screen and (max-width: 992px) {
    flex-direction: column;
    gap: rem(2);
  }

  .FooterBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(1);
    .FooterContent {
      font-family: 'Ubuntu', sans-serif;
      font-size: rem(3.2);
      color: var(--ifm-color-white);
      @media screen and (max-width: 992px) {
        font-size: rem(2);
      }
    }
    .FooterBodyContent {
      color: var(--ifm-color-white);
      font-weight: 400;
      @media screen and (max-width: 992px) {
        font-size: rem(1.5);
      }
    }

    .Email {
      color: var(--ifm-color-danger);
      padding: 0 rem(0.5);
    }
    .communityButton {
      font-family: 'Ubuntu', sans-serif;
      color: var(--ifm-color-white);
      border: 2px solid var(--ifm-color-secondary-darkest);
      padding: rem(0.5);
      border-radius: rem(1);
      font-size: rem(1.4);
      font-weight: bold;
    }
  }
}
