.noAppsWrapper {
  width: calc(100% - 3.2rem);
}

.noApps {
  padding-top: 7.2rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: var(var(--text-align-center));
  align-items: var(--text-align-center);
  width: calc(32rem - 3.2rem);
  position: relative;
  margin: 0 auto;
}

.noAppsIcon {
  margin-top: 1.6rem;
  margin-bottom: 2rem;
  background-image: url(/img/table-empty.svg);
  background-repeat: no-repeat;
  background-position: var(--text-align-center);
  background-size: contain;
  width: 10rem;
  height: 10rem;
}

.noAppsText {
  text-align: var(--text-align-center);
}

[data-state*="responsive.desktop"] {
  .noAppsWrapper {
    width: calc(100% - 12.5rem);
    position: relative;
  }
  .noApps {
    padding-top: 7.2rem;
    margin: 0 auto;
    position: relative;
  }
  .noAppsText {
    width: 39rem;
  }
}
