@use 'src/styles/utility' as *;

.noAppsWrapper {
  width: calc(100% - rem(3.2));
}

.noApps {
  padding-top: rem(7.2);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: var(center);
  align-items: center;
  width: calc(rem(32) - rem(3.2));
  position: relative;
  margin: 0 auto;
}

.noAppsIcon {
  margin-top: rem(1.6);
  margin-bottom: rem(2);
  background-image: url(/img/table-empty.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(10);
  height: rem(10);
}

.noAppsText {
  text-align: center;
}

[data-state*="responsive.desktop"] {
  .noAppsWrapper {
    width: calc(100% - rem(12.5));
    position: relative;
  }
  .noApps {
    padding-top: rem(7.2);
    margin: 0 auto;
    position: relative;
  }
  .noAppsText {
    width: rem(39);
  }
}
