@use 'src/styles/utility' as *;

.carouselComponent {
  margin: rem(16) 0 rem(16);

  .carouselHeading {
    margin-bottom: rem(6);
    padding: 0 rem(2.5);
  }

  .carouselContainer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
    overflow: visible;
  }
}
