@use 'src/styles/utility' as *;
@use 'swiper/scss';

.swiper {
    min-width: rem(32);
    max-width: rem(58.6);
    text-align: center;
    cursor: pointer;
    .swiper-slide {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
