@use 'src/styles/utility' as *;

@mixin actionIcon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: rem(2);
  cursor: pointer;
  padding: rem(2) rem(2);
  border-radius: 100%;
  background-color: var(--colors-greyLight200);
  border: 2px solid var(--colors-greyLight400);
}

.deleteApp {
  background-image: url(/img/delete.svg);
  @include actionIcon;
}

.updateApp {
  background-image: url(/img/edit.svg);
  @include actionIcon;
}

.appActions {
  display: flex;
  gap: rem(2);
  margin: rem(3);
}

.tooltip {
  position: relative;

  .tooltipText {
    visibility: hidden;
    color: var(--ifm-color-emphasis-100);
    background-color: var(--ifm-color-emphasis-700);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: rem(1);
    transform: translateX(50%);
    right: 50%;
    bottom: rem(4);
    padding: rem(0.5);

    &::after {
      content: '';
      position: absolute;
      bottom: rem(-0.9);
      right: 50%;
      transform: translateX(50%);
      margin-left: rem(-0.5);
      border-width: 5px;
      border-style: solid;
      border-color: var(--ifm-color-emphasis-700) transparent transparent transparent;
    }
  }

  &:hover {
    transform: translateY(-0.2rem);

    .tooltipText {
      visibility: visible;
      opacity: 1;
    }
  }
}
