@use 'src/styles/utility' as *;

.mainPageRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: rem(8) 0;

  .columnContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;

    .getStartedHeading {
      text-align: center;
      padding: 0 rem(2.5);
    }

    .termConditions {
      padding: 0 rem(2.5);
    }

    .cardContainer {
      display: flex;
      flex-direction: row;
      margin-bottom: rem(4);
      gap: rem(1.2);
      @media screen and (max-width: 992px) {
        flex-direction: column;
        gap: rem(2);
      }
    }
    .mainPageCard {
      width: 100%;
      max-width: rem(31.6);
      padding: rem(3.2) rem(2.4);
      border-radius: 4px;
      box-shadow: 0 0.4rem 0.8rem 0 rgb(14, 14, 14, 0.1);
      background-color: var(--ifm-color-white);
      font-size: rem(1.6);
      line-height: 1.5;
      color: var(--ifm-color-black);
      margin-bottom: 0;

      .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .guideIcon,
        .signUpIcon,
        .registerYourAppIcon {
          width: rem(3.2);
          height: rem(3.2);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .arrow {
        display: flex;
        position: relative;
        justify-content: end;
        top: rem(4);
      }
      .arrowMiddle {
        display: flex;
        position: relative;
        justify-content: end;
        top: rem(1.5);
      }
    }
  }
}

.guideIcon,
.signUpIcon,
.registerYourAppIcon {
  width: rem(3.2);
  height: rem(3.2);
  background-repeat: no-repeat;
  background-position: center;
}
