@use 'src/styles/utility' as *;

.mainPageRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .columnContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;

    .getStartedHeading {
      text-align: center;
      padding: 0 rem(2.5) rem(4) rem(2.5);
    }

    .termConditions {
      padding: 0 rem(2.5);
      @media screen and (max-width: 992px) {
        font-size: rem(1.2);
      }
    }

    .cardContainer {
      display: flex;
      flex-direction: row;
      margin-bottom: rem(4);
      gap: rem(2.4);
      @media screen and (max-width: 992px) {
        flex-direction: column;
        gap: rem(2);
      }
    }
    .mainPageCard {
      display: flex;
      flex-direction: column;
      gap: rem(2.7);
      width: 100%;
      max-width: rem(31.6);
      padding: rem(3.2) rem(2.4);
      border-radius: 4px;
      box-shadow: 0 rem(0.7) rem(1.3) 0 rgb(14, 14, 14, 0.1);
      background-color: var(--ifm-color-white);
      font-size: rem(1.6);
      line-height: 1.5;
      color: var(--ifm-color-black);
      margin-bottom: 0;
      position: relative;
      transition: box-shadow 0.2s;

      section {
        display: flex;
        flex-direction: column;
        gap: rem(0.8);

        > p {
          font-family: var(--ibm-font-family-base);
          @media screen and (max-width: 992px) {
            font-size: rem(1.4);
          }
        }
      }

      .cardIcon {
        width: rem(4.5);
      }

      .arrowIcon {
        display: flex;
        justify-content: end;
        > img {
          width: rem(0.8);
        }
      }

      &:hover {
        text-decoration: none;
        box-shadow: 0 rem(0.2) rem(0.2) 0 rgb(0, 0, 0, 0.3);
      }

      .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        .guideIcon,
        .signUpIcon,
        .registerYourAppIcon {
          width: rem(3.2);
          height: rem(3.2);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
      .arrow {
        display: flex;
        position: absolute;
        justify-content: end;
        bottom: rem(2);
        right: rem(2);
      }
      .arrowMiddle {
        display: flex;
        position: relative;
        justify-content: end;
        top: rem(1.5);
      }
    }
  }
}

.guideIcon,
.signUpIcon,
.registerYourAppIcon {
  width: rem(3.2);
  height: rem(3.2);
  background-repeat: no-repeat;
  background-position: center;
}
