@use 'src/styles/utility' as *;

.pageContent {
  height: 140vh;
  justify-content: center;
  padding-top: rem(6);

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: rem(1);
    padding: rem(1);
    position: relative;

    .title {
      text-align: center;
      color: var(--ifm-font-color-base);
      margin-top: rem(0.8);
      margin-bottom: rem(6.08);
      font-weight: 500;
      font-size: rem(2.24);
      line-height: rem(4.8);
      width: 100%;
    }
    .customTextInput {
      border-radius: 4px;
      align-items: center;
      display: flex;
      flex-direction: column;
      line-height: 16px;
      width: 100%;
      box-sizing: border-box;
      padding: rem(1);
      &:focus-within {
        border-color: var(var(--ifm-font-color-base));
      }
      .inputField {
        position: relative;
        width: 50%;

        input[type='text'],
        input[type='number'] {
          background: 0 0;
          box-sizing: border-box;
          color: var(--ifm-color-secondary-darkest);
          display: block;
          height: rem(4);
          min-width: 0;
          width: 100%;
          border: none;
          text-indent: rem(1.2);
          &:not(:placeholder-shown) ~ label {
            color: var(--ifm-color-secondary-darkest);
            background-size: rem(1);
            padding: 0 rem(0.4);
            transform: translateY(rem(-2)) scale(0.75);
          }
          &:focus {
            outline-color: none;
            & ~ label {
              color: var(--ifm-color-secondary-darkest);
              padding: 0 rem(0.4);
              transform: translateY(rem(-2)) scale(0.75);
            }
          }
        }
        .inlineLabel {
          position: relative;
          display: inline-block;
          font-size: var(--text-size-s);
          margin-right: rem(0.5);
          line-height: var(--text-lh-xl);
          color: var(--black-01);
          padding: rem(0.2) rem(0.4);
          background-color: var(--ifm-color-secondary-darkest);
          pointer-events: none;
          white-space: nowrap;
          transform: translate(rem(0.6), rem(0.8));
        }
        .textInput {
          background: none;
          border: 1px solid var(--ifm-color-secondary-darkest);
          color: var(--ifm-font-color-base);
          padding: rem(1);
          width: 100%;
          font-size: var(--text-size-s);
        }
        .errorMessage {
          color: var(--ifm-color-danger);
          font-size: var(--text-size-xs);
          font-weight: 400;
          padding-left: rem(1);
        }
      }
    }
    .buttons {
      display: flex;
      margin: rem(0.5);
    }
  }
}
