@use 'src/styles/utility' as *;

.pageContent {
  height: 140vh;
  justify-content: center;
  padding-top: rem(6);

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: rem(1);
    padding: rem(1);
    position: relative;

    .title {
      text-align: center;
      color: var(--ifm-font-color-base);
      margin-top: rem(0.8);
      margin-bottom: rem(6.08);
      font-weight: 500;
      font-size: rem(2.24);
      line-height: rem(4.8);
      width: 100%;
    }
    .customTextInput {
      border-radius: 4px;
      align-items: center;
      display: flex;
      flex-direction: column;
      line-height: 16px;
      width: 100%;
      box-sizing: border-box;
      padding: rem(1);
      gap: rem(2.1);

      .inputField {
        position: relative;
        width: 50%;
        padding-top: rem(0.5);

        input[type='text'],
        input[type='number'] {
          background: 0 0;
          box-sizing: border-box;
          height: rem(4);
          min-width: 0;
          width: 100%;
          border: none;
          text-indent: rem(1.2);
          &:not(:placeholder-shown) ~ label {
            color: var(--colors-blue400);
            background-color: var(--ifm-color-emphasis-0);
            padding: 0 rem(0.4);
            transform: translateY(rem(-2)) scale(0.75);
          }
        }
        .inlineLabel {
          position: absolute;
          display: inline-block;
          font-size: var(--fontSizes-xs);
          line-height: var(--text-lh-xl);
          color: var(--colors-greyLight600);
          padding: rem(0.2) rem(0.4);
          background-color: var(--ifm-background-surface-color);
          pointer-events: none;
          white-space: nowrap;
          left: rem(1);
          top: rem(-0.8);
        }
        .textInput {
          background: none;
          border: 1px solid var(--colors-greyLight400);
          border-radius: 4px;
          color: var(--ifm-font-color-base);
          padding: rem(1.2);
          width: 100%;
          font-size: var(--text-size-s);
          &:focus {
            border-color: var(--colors-blue400);
            outline: none;
            + .inlineLabel {
              color: var(--colors-blue400);
            }
          }
          &:hover {
            border: 1px solid var(--colors-greyLight600);
          }
        }
        .errorMessage {
          position: relative;
          color: var(--ifm-color-danger);
          font-size: var(--fontSizes-2xs);
          font-weight: 400;
          padding: rem(0.5) rem(1);
        }
      }
    }
    .currentUrl {
      display: flex;
      flex-direction: row;
      font-size: var(--text-size-sm);
      padding: 1rem;

      .urlLabel {
        font-weight: 700;
        font-size: var(--text-size-sm);
      }
      .urlLink {
        border-radius: 4px;
        padding: 0.2rem 0.4rem;
        color: var(--colors-coral700); //#d91d4c; var(--wine-01);
        font-size: 90%;
        border: 1px solid #f0f1f3a3;
        font-weight: 400;
      }
    }
    .buttons {
      display: flex;
      margin: rem(0.5);
    }
  }
}
