.BenefitsContainer {
    width: 100%;
    
    .BenefitsIcons {
        width: 100%;
        flex-wrap: nowrap;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-evenly;

        @media screen and (max-width: 992px) {
            margin-top: 3rem;
            flex-direction: column;
        }
    }

    .BenefitsInformation {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        gap: 4rem;
        margin: 0 auto;

        h3 {
            margin: 1.6rem 0;
        }

        img {
            margin-bottom: 4rem;
        }

        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
            width: 90%;

            div {
            width: 100%;
            }

            h3 {
            margin: 1.6rem 0;
            }

            img {
            height: auto;
            }
        }
        .InformationContainer {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            gap: 4rem;
            &:first-child {
                flex-direction: row-reverse;
            }
            div {
                width: 46.8rem;
            }
            @media screen and (max-width: 992px) {
                flex-direction: column;
                &:first-child {
                flex-direction: column-reverse;
                }
                div {
                width: 100%;
                }
            }
        }
    }
}

.SingleIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .BenefitsImage {
        background-size: contain;
        display: inline-block;
        width: 7.2rem;
        height: 7.2rem;
        margin: 0.8rem;
    }
}

.InformationImage {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 48.6rem;
    height: 26rem;
    @media screen and (max-width: 992px) {
        max-width: 48.6rem;
        height: 22rem;
    }
    @media screen and (min-width: 320px) and (max-width: 375px) {
        height: 15rem;
    }
}
