@use 'src/styles/utility' as *;

.sourceButton {
  opacity: 0;
  color: var(--ifm-color-secondary-darker);
  font-family: lucida console, Monaco, monospace;
  position: absolute;
  padding: rem(0.2);
  margin-top: rem(0.3);
  right: rem(0.2);
  width: rem(1.8);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: rem(0.8);
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.sourceButtonMain {
  opacity: 0;
  color: var(--ifm-color-secondary-darkest);
  font-family: lucida console, Monaco, monospace;
  padding: rem(0.2);
  left: rem(23);
  bottom: rem(15);
  position: relative;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  font-size: rem(2);
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
